/* * {
  padding: 0;
  margin: 0;
}

section.carosel {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: calc(var(--quantity) * 90vw);
}

img {
  width: 100%;
}

section.carosel .item {
  width: var(--width);
  aspect-ratio: 16/9;
  position: absolute;
  object-fit: cover;
  left: 100%;
  animation: slide 5s linear infinite;
  animation-delay: calc( (5s * (var(--position)-1)/var(--quantity))  );
  animation-delay: calc(5s * (var(--position) - 1) / var(--quantity));

}

@keyframes slide {
  0% {
  left: 100%;
  }
  50% {
    animation-play-state: paused;
  } 100% {
    left: calc(var(--width) * -1);
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

html, body {
  overflow-x: hidden;
}

.carousel-container {
  min-width: 50%;
  max-width: 70%;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  height: calc(50% *9/16);
  padding: 0 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .carousel-container {
    min-width: 80%;
  }
  
}


.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  aspect-ratio:  16/9;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}